.formcontato-mensagem-erro {
    display: none;
}

.formcontato-input-container--invalido .formcontato-mensagem-erro  {
    color: red;
    display: block;
    font-family: 'Quicksand', sans-serif; 
    font-size: 15px;
    margin-bottom: 5px;  
}

.formcontato-input-container--invalido .formcontato-input {
    border: 1px solid red;
}

.formcontato-input-container--invalido .formcontato-textarea{
    border: 1px solid red;
}