@media(max-width: 768px){
    
    .sobe-img{
        order: -1;
    }

    .all{
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3{
        font-size: 16px;
    }

    #first-letter{
        font-size: 30px;
    }

    .menu-item{
        display: none;
    }

    #menu-item-contato{
        display: block;
        font-size: 16px;
        margin-right: 5px;
    }

    .title{
        margin-top: 50px;
        height: auto;
    }

    .title-div{
        flex-direction: column;
        height: auto; 
    }

    .title-container{
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .title-bio{
        font-size: 22px;
    }

    .subtitle-bio{
        font-size: 14px;
    }

    .title-redes{
        width: auto;
        padding: 0;
    }

    .title-redes-item{
        font-size: 14px;
    }

    .redes-seta{
        width: 10px;
        height: 10px;
    }

    .img-perfil{
        width: 100px;
        height: 100px;
    }

    .sobre-mim{
        height: auto;
    }

    .sobre-mim-container{
        width: 100%;
    }

    .sobre-mim-title{
        font-size: 22px;
    }

    .sobre-mim-paragrafo{
        font-size: 14px;
    }

    .skills{
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 0;
    } 

    .skills-title{
        font-size: 22px;
    }

    .skills-line{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .skills-box {
        margin-bottom: 20px;
    }

    .hobbies{
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 0;
    } 

    .hobbies-title{
        font-size: 22px;
    }

    .hobbies-line{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .hobbies-box{
        margin-bottom: 20px;
    }

    .academic{
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 0;
    }

    .academic-title{
        font-size: 22px;
    }

    .academic-courses{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .academic-courses-box {
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
    }

    .academic-courses-list{
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .academic-courses-item-img{
        width: 270px;
        height: 100px;
        margin: 0 auto;
    }

    .courses-img {
        width: 100px;
        height: 60px;
        margin: 20px 85px;
    }

    .academic-courses-item-title {
        margin-top: 10px;
        text-align: center;
        margin: 10px 0;
        font-size: 16px;
        font-weight: bold;
    }

    .academic-courses-item-subtitle{
        font-size: 14px;
        text-align: center;
        margin: 10px 0;
    }

    .experience-section-title{
        font-size: 22px;
        margin-bottom: 60px;
    }

    .experiencie-box{
        display: flex;
        height: 250px;
        flex-direction: column;
        align-items: center;
    }

    .experience-img{
        width: 330px;
        height: 145px;
    }

    .experience-info {
        width: 340px;
        height: 112px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .experience-title{
        font-size: 16px;
    }

    .experience-text{
        font-size: 14px;
    }

    .experience-description{
        width: 100%;
    }

    .formcontato{
        margin-top: 100px;
    }

    .formcontato-contacto{
        flex-direction: column;
        align-items: center;
    }

    .formcontato-esquerda{
        display: none;
    }

    .formcontato-text{
        width: 100%;
    }

    .formcontato-title{
        font-size: 22px;
        text-align: center;
    }


    .formcontato-subtext {
        font-size: 16px;
    }

    .formcontato-subtext{
        font-size: 14px;
    }

    .formcontato-form{
        width: 100%;
    }

    .formcontato-input, .formcontato-textarea{
        width: 98%;
        font-size: 16px;
    }

    .formcontato-botao{
        width: 100%;
    }

    .footer-rodape{
        width: 100%;
        font-size: 11px;
    }
}

