* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-primary: #120a56;
    --color-secondary: #ff1c11; 
    --color-ternary: #e6ebef; 
    --color-input-bt: #03001bc8;
    --color-input-unfocused: rgb(77, 77, 77);
    --color-label: color: rgb(172, 172, 172);
    --color-skils: black;

}

body {
    font-family: "Afacad", sans-serif;
    font-size: 1.6rem;
}

#app {
    max-width: 40rem;
    margin: 0 auto;
}

header {
    color: var(--color-secondary);
    padding: 3rem 0 3rem 3rem;
    background-color: var(--color-primary);
}

header img {
    width: 17rem;
}

#introduction {
    color: var(--color-ternary);
    padding: 6rem;
    background-color: var(--color-primary);
}

#introduction h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 4rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

#introduction span {
    color: var(--color-ternary);
}

#introduction p {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

#introduction div {
    margin-top: 6rem;

    display: flex;
    justify-content: space-between;
}

#introduction div p {
    width: 10rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
}

#profile {
    padding: 6rem 0;
    text-align: center;
    background-color: var(--color-secondary);
}

#profile img{
    width: 40rem;
}

h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

#skills {
    color: var(--color-skils);
    background-color:var(--color-ternary);
    padding: 5rem;
}


#skills-wrapper{
    display: flex;
    justify-content: space-between;
}

#skills-wrapper img {
    width: 5rem;
}

.buttons {
    width: 20rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    background: none;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.buttons img {
    width: 3rem;
}

#projects {
    color: var(--color-ternary);
    background-color: var(--color-primary);
    padding: 5rem;
}

#projects button {
    border: 1px solid var(--color-ternary);
    color: var(--color-ternary);
}

#contact {
    color: var(--color-primary);
    background-color: var(--color-ternary);
    padding: 5rem;
}

#contact h2 {
    margin-bottom: 1.5rem;
}

#contact p {
    font-size: 2rem;
    margin-bottom: 3rem;
}

#contact-form fieldset {
    border: 0;
}

#input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
}
#input-wrapper label {
    color: var(--color-label);
    opacity: var(--label-opacity);
}

#input-wrapper input {
    height: 3rem;
}

#input-wrapper textarea {
    height: 7.5rem;
}

#input-wrapper input, #input-wrapper textarea {
    font-family: "Afacad", sans-serif;
    background-color: var(--color-ternary);
    border: 0;
    border-bottom: 1px solid var(--color-input-unfocused);
    margin-top: .1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--color-input-bt);
    outline: none;
}

#input-wrapper input:focus, #input-wrapper textarea:focus {
    border-color: var(--color-input-bt);
}

#input-wrapper input::placeholder, #input-wrapper textarea::placeholder {
    font-family: "Afacad", sans-serif;
    font-size: 1.6rem;
    color: var(--color-input-unfocused);
    opacity: .8;
}

#input-wrapper input:focus::placeholder, #input-wrapper textarea:focus::placeholder {
    color: transparent;
}

#contact-form button {
    text-align: center;
    border: 1px solid var(--color-input-bt);
    color: var(--color-input-bt);
    justify-content: center;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-ternary);
    padding: 7rem 5rem 5rem;
}

#footer-main span {
    font-size: 2.2rem;
    text-transform: uppercase;
}

#footer-main ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer-main ul li {
    list-style: none;
    font-size: 1.8rem;
}

#footer-main ul li a {
    text-decoration: none;
    color: var(--color-ternary);
}

#footer-botton {
    margin-top: 10rem;
    border-top: 1px solid var(--color-ternary);
    padding-top: 5rem;
}